<%= form_for @article do |f| %>

  <div class="row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="row">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="row">
    <%= f.submit %>
  </div>

  <%= link_to "Cancel", articles_path, class: "btn btn-info" %>
<% end %>
